/* LOS COMENTARIOS SON DEMOSTRATIVOS Y PUEDEN SER BORRADOS UNA VEZ INICIE EL PROYECTO */
/* En esta carpeta se pueden agregar otras hojas de estilo para otros objetos que sean usados en el proyecto, recordar agregar la importación en styles.scss */

/* Agrega en esta primera parte las importaciones necesarias de otras hojas de estilo que sean útiles para el correcto renderizado Ej: @import "../utilities/variables";*/
/* ---- Importaciones ---- */



/* En esta parte del archivo van los estilos de los formularios que sean usados en el proyecto */
/* ---- Estilos formularios ---- */

.field-base{
    color: $txt-color;
    border: $gray-lighter solid 1px;
    border-radius: 15px;
    padding: 8px 15px;

    &:focus{
        outline: 0;
        border-color: $primary;
    }
}

.fieldset-base{
    display: flex;
    flex-direction: column;
    gap: 8px;
}